<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>
<body>
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <script th:inline="javascript">
        window.location.href = "/";
    </script>
</div>
<div>
    <form th:action="@{/login}" method="POST">
        <h2>Вход в систему</h2>
        <div>
            <input name="username" type="text" placeholder="Username" autofocus="true" />
            <input name="password" type="password" placeholder="Password" />
            <button type="submit">Log In</button>
        </div>
        <h4><a th:href="@{/registration}">Зарегистрироваться</a></h4>
    </form>
</div>
</body>
</html>
